@font-face {
  font-family: "raleway-regular";
  src: url("police/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "raleway-regular", Arial, sans-serif;
  margin: 20px;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h3 {
	font-size: 17px;
	font-weight: bold;
}
.marg-zero {
  border: none;
}
.back-blue {
  background-color: #0065fc;
}
.back-gray {
  background-color: #f2f2f2;
}
.bold-text {
  font-weight: bold;
}
.padding-left {
  padding-left: 20px;
}
.marg-title {
  margin: 20px;
}
.decoration-none {
  text-decoration: none;
}
.logo {
  width: 120px;
  height: 50px;
}
.size-links {
  width: 45%;
}
.size-link {
  width: 140px;
  height: 99px;
}
.color-link13 {
  color: #0065fc;
}
.color-link2 {
  color: black;
}
.border-nav {
	border-top: 2px solid #0065fc;
}
div h2 {
  margin: 0 0 10px;
  padding: 0;
}
div p {
  margin: 0 0 10px;
  padding: 0;
}
.border-search {
  width: 400px;
  margin-top: 20px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}
.size-icon {
  height: 45px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}
.padding-search {
  padding-left: 20px;
}
.user-text {
  height: 45px;
  width: 230px;
  font-size: 15px;
  color: black;
  font-weight: bold;
}
.buton-search {
  height: 45px;
  width: 120px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0 10px 10px 0;
}
.display-filter {
  display: flex;
  align-items: center;
}
.marg-filter {
  margin-top: 50px;
  margin-bottom: 40px;
}
.marg-title-filter {
  margin-right: 20px;
}
.fa-dog, .fa-child, .fa-money-bill-wave, .fa-heart {
  font-size: 20px;
}
.filter-text-icons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}
.filter-text-icons:hover > .filter-text {
  color: #0065fc;
}
.filter-text-icons:hover > .filter-icons {
  color: white;
  background-color: #0065fc;
}
.filter-text {
  height: 50px;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}
.filter-icons {
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
.fa-info-circle {
	margin-right: 10px;
	background: #0065FC;
	color: #FFFFFF;
	border: 1px solid #F2F2F2;
	border-radius: 10px;
  font-size: 18px;
}
#gray-areas {
  display: flex;
  margin-top: 10px;
}

#hebergement {
  background: #f2f2f2;
  border-radius: 20px;
  width: 63%;
  height: 636px;
  margin: auto;
}

#user-hebergements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  width: 30%;
  border: 3px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 4px #c0c0c0;
  line-height: 10px;
  margin-top: 8px;
  margin-bottom: 10px;
}

article img {
  margin-top: 0px;
  width: 100%;
  height: 110px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

article h2 {
  margin-left: 20px;
  margin-bottom: 25px;
}

.caption {
  margin: 10px;
  line-height: 15px;
}

.afficher-plus {
  margin-top: 30px;
  margin-left: 20px;
}

.fas.fa-star.gray {
  color: #dcdcdc;
}

aside {
  background: #f2f2f2;
  border-radius: 20px;
  display: flex;
  width: 33%;
  flex-direction: column;
  margin: auto;
  height: 636px;
  justify-content: space-around;
}

.bloc-populaire figure {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #ffffff;
  border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 4px #c0c0c0;
}

.bloc-populaire img {
  width: 35%;
  border-radius: 20px 0 0 20px;
  height: 150px;
  margin-top: 1px;
  object-fit: cover;
}

.bloc-populaire figcaption {
  height: 135px;
  width: 65%;
  border-radius: 0 20px 20px 0;
  margin-left: 10px;
  line-height: 15px;
}

.bloc-populaire .ranking {
  margin-top: 45px;
}

.fa-chart-line {
  margin-right: 25px;
}

.ranking {
  color: #0065fc;
}

#titre-populaire {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  margin-left: 22px;
}

#activites figure {
  margin: 0;
  padding: 0;
}
#activites figcaption {
  background: #ffffff;
  height: 40px;
  border-radius: 0 0 20px 20px;
  font-weight: bold;
  margin-top: -4px;
  padding: 15px 0 0 15px;
  font-family: "Raleway", sans-serif;
}

#activites-marseilles {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#activites-marseilles h2 {
  margin-left: 35px;
}

#activites {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
}

.col-activites img {
  width: 300px;
  height: 385px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.col-activites,
.col2-activites,
.col4-activites {
  max-width: 300px;
}

#fort img {
  width: 300px;
  height: 180px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

#iles img {
  width: 300px;
  height: 130px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

figure#iles {
  margin-top: 20px;
}

#notre-dame img {
  width: 300px;
  height: 135px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

#parc img {
  width: 300px;
  height: 145px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

figure#parc {
  margin-top: 48px;
}

.col-activites,
#fort,
#iles,
#notre-dame,
#parc {
  box-shadow: 0px 0px 20px #c0c0c0;
  border-radius: 20px;
}

footer {
  display: flex;
  background: #f2f2f2;
  color: black;
  width: 100%;
  margin-top: 50px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  line-height: 25px;
  margin-right: 100px;
}

footer li {
  margin-right: 100px;
}

.col_footer {
  width: 33%;
}
